.search {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 300px;
  height: 30px;
  margin-right: 20px;
  font-size: 20px;
}

.results {
  display: flex;
}

.panel {
  width: 33.3%;
  height: 700px;
  text-align: center;
  padding: 20px 25px;
}

.character-info img {
  margin-bottom: 30px;
}

ul{
  list-style-type: none;
}

.character-info button {
  margin-top: 30px;
  font-size: 20px;
}

.error-message {
  margin-top: 60px;
  text-align: center;
}
